# How Can Students' Performance Be Affected by Certain Factors?

### Students study hard to achieve academic success. Receiving high scores on their final exams can be used to measure each student's academic performance. This project explores how specific factors affect and relate to that performance.

### Let's first understand our dataset!

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

student_performance = pd.read_csv("StudentPerformanceFactors.csv")
student_performance.head()

   Hours_Studied  Attendance  ...  Gender Exam_Score
0             23          84  ...    Male         67
1             19          64  ...  Female         61
2             24          98  ...    Male         74
3             29          89  ...    Male         71
4             19          92  ...  Female         70

[5 rows x 20 columns]